body {
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  width: 100%;
  background-color: #a10101;
}

.Company {
  color: #ffffff;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: 6%;
  width: 352px;
  text-decoration: none;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 15%;
  align-items: center;
  margin-left: 40%;
}

.nav-items a {
  text-decoration: none;
  color: white;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  font-size: 1em;
}

.Hero {
  background-image: url(./assets/home-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.Hero-welcome {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 5em;
  font-weight: 200;
  width: 660px;
  margin-top: 8%;
}

.hero-text-1 {
  display: flex;
  justify-content: center;
  margin-left: 15%;
}

.hero-info {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 200;
  width: 460px;
}

.destination-link {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 200;
  width: 460px;
  text-decoration: none;
}

.fa-solid {
  color: #ffffff;
  font-size: 1em;
  width: 80px;
}

.hero-text-2 {
  display: flex;
  justify-content: space-around;
}

.second {
  margin-top: 5%;
}

.reviews-heading,
.about-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-top: 5%;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1.6em;
  font-weight: 200;
  width: 760px;
  text-align: center;
}
.quote-mark {
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ef3340;
  font-style: italic;
}

.review-item {
  width: 320px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 15%;
  margin-top: 2%;
}

.name {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  font-size: 0.8em;
}

#reviews-square {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 10%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.quotes {
  box-shadow: #00000026 1.95px 1.95px 2.6px;
}

.footer-items a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1em;
}
.footer-items li {
  list-style: none;
  margin-top: 5%;
}

.footer-items {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.legal {
  display: flex;
  justify-content: center;
}
.bottom-links a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}

.r-items {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: white;
  width: 250px;
}

.field {
  width: 67%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials li {
  list-style: none;
}

ul.socials {
  display: flex;
  gap: 2%;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.l-side,
.r-side {
  margin-top: 5%;
}

footer {
  background-color: #a10101;
}
